@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";

.center {
	text-align: center;
}

.maincontent {
	background-color: #5dcec6;
	padding: 5px;
}

.sidebar {
	background-color: #6b8fd4;
	padding: 5px;
}

.songicon {
	color: #FFFFFF;
	vertical-align: middle;
}