@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";

.center {
	text-align: center;
}

.jplayer {
	margin: 0px auto;
}

.leftbar {
	/*background-color: #6b8fd4;*/
	background-color: #2D2D2D;
	color: #C0C0C0;
	padding: 5px;
}

.maincontent {
	background-color: #5dcec6;
	padding: 5px;
}

.rightbar {
	/*background-color: #6b8fd4;*/
	background-color: #2D2D2D;
	color: #C0C0C0;
	padding: 5px;
}

.songicon {
	color: #FFFFFF;
	vertical-align: middle;
}