@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";

body, html {
	/*background-color: #2D2D2D;*/
	background: url('/images/musicbg.jpg');
	/*background-size: contain;*/
	height: 100%;
}

.center {
	text-align: center;
}

.david_container {
	background-color: #2D2D2D;
	opacity: 0.9;
}

.jplayer {
	margin: 0px auto;
}

.leftbar {
	/*background-color: #6b8fd4;*/
	background-color: #2D2D2D;
	color: #C0C0C0;
	padding: 5px;
	overflow: auto;
	min-height: 100%
}

.maincontent {
	background-color: #5dcec6;
	padding: 5px;
	height: 100%;
	opacity: 0.9;
}

.rightbar {
	/*background-color: #6b8fd4;*/
	background-color: #2D2D2D;
	color: #C0C0C0;
	padding: 5px;
	min-height: 100%;
}

.songicon {
	color: #FFFFFF;
	vertical-align: middle;
}